<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
<title>My Title</title>
</head>

<body>

<p>Dodaj kogos</p>

<form method="POST" action="add-moderator">
    <input type="text" name="login" placeholder="login" required>
    <input type="text" name="password" placeholder="password" required>
    <select class="large-select" name="status">
        <option selected>Location</option>
        {% for location in locations %}
            <option>{{location.name}}</option>
    </select>


</form>

</body>
</html>