<!doctype html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewpoint" content="witdh=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Abel|Nova+Mono" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.js') }}" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

    <title>Your site</title>
    {% endblock %}
</head>

  <body>

  <div class="jumbotron text-center">
  <h1>Welcome to Cracow Quiz app</h1>
</div>

<div class="container">


{% for location in locations %}
    <h3>
        <div class="name">
    <div class="div_text_shadow">{{loop.index}}. {{ location.name }}</div><br>
        </div>
        <br>
        <a href="/edit/{{ location.idx }}" ><button>Edit</button></a>
        <a href="/remove/{{ location.idx }}"><button>Remove</button></a>
        <a href="/questions/{{ location.idx }}"><button>View questions</button></a>
    </h3><br><br>
{% endfor %}

<h3>
    <a href="/add_location">Add location</a>
</h3>
</div>






        <!--{% block solid_component %}-->
        <!--<aside class='solid_component'>-->
        <!--Logged as {{ login }}-->
        <!--<ul id="dupa">-->
            <!--<li>1</li>-->
            <!--<li>2</li>-->
            <!--<li>3</li>-->
        <!--</ul>-->
        <!--<p id="czerw">jakis tekst</p>-->
        <!--</aside>-->
        <!--{% endblock %}-->
  </body>
</html>
