<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewpoint" content="witdh=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Abel|Nova+Mono" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.js') }}" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>Your site</title>
</head>

  <body>

  <div class="jumbotron text-center">
  <h1>Questions</h1>
      <p>{{location.name}}</p>
</div>

<div class="container">


{% for question in questions %}
    <h3>
        <div id="question_name">
    <div class="div_text_shadow ">{{loop.index}}. {{ question.question }}<br></div>
        </div><br>
        <a href="/edit/question/{{ question.idx }}" ><button>Edit</button></a>
        <a href="/remove/{{ location.idx }}/{{ question.idx }}"><button>Remove</button></a>


    </h3><br><br><br>
{% endfor %}

<h3>
    <a href="/add_question/{{ location.idx }}">Add question</a>
</h3>
    <br><br>
    <h3>
        <a href="/locations/"><button type="button">Go back</button></a>
    </h3>
</div>

  </body>
</html>
